/* animacion body */
  
@keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
  
    50% {
      background-position: 100% 100%;
    }
  
    100% {
      background-position: 0% 0%;
    }
  }
  
  .wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
  
    &:nth-of-type(2) {
      bottom: -1.25em;
      animation: wave 18s linear reverse infinite;
      opacity: 0.8;
    }
  
    &:nth-of-type(3) {
      bottom: -2.5em;
      animation: wave 20s -1s reverse infinite;
      opacity: 0.9;
    }
  }
  
  @keyframes wave {
    2% {
      transform: translateX(1);
    }
  
    25% {
      transform: translateX(-25%);
    }
  
    50% {
      transform: translateX(-50%);
    }
  
    75% {
      transform: translateX(-25%);
    }
  
    100% {
      transform: translateX(1);
    }
  }
  

// Animacion background

@keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }
  
  .background {
    position: fixed;
    width: 100vw;
    height: 50px;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
    opacity: 90%;
  
    span {
      width: 7vmin;
      height: 7vmin;
      border-radius: 7vmin;
      backface-visibility: hidden;
      position: absolute;
      animation: move;
      animation-duration: 45;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
  
      &:nth-child(0) {
        color: #0d210d;
        top: 9%;
        left: 12%;
        animation-duration: 44s;
        animation-delay: -17s;
        transform-origin: -14vw -10vh;
        box-shadow: -14vmin 0 2.0931304903169106vmin currentColor;
      }
  
      &:nth-child(1) {
        color: #031704;
        top: 61%;
        left: 15%;
        animation-duration: 51s;
        animation-delay: -41s;
        transform-origin: -24vw 21vh;
        box-shadow: 14vmin 0 2.317377027591738vmin currentColor;
      }
  
      &:nth-child(2) {
        color: #0d210d;
        top: 1%;
        left: 26%;
        animation-duration: 37s;
        animation-delay: -26s;
        transform-origin: -3vw -14vh;
        box-shadow: -14vmin 0 1.9482850341523548vmin currentColor;
      }
  
      &:nth-child(3) {
        color: #031704;
        top: 61%;
        left: 72%;
        animation-duration: 53s;
        animation-delay: -38s;
        transform-origin: -21vw 19vh;
        box-shadow: 14vmin 0 2.461672362735863vmin currentColor;
      }
  
      &:nth-child(4) {
        color: #1a2e1c;
        top: 71%;
        left: 35%;
        animation-duration: 45s;
        animation-delay: -33s;
        transform-origin: -9vw -10vh;
        box-shadow: 14vmin 0 2.1081128428136626vmin currentColor;
      }
  
      &:nth-child(5) {
        color: #031704;
        top: 47%;
        left: 9%;
        animation-duration: 46s;
        animation-delay: -33s;
        transform-origin: -6vw -24vh;
        box-shadow: -14vmin 0 2.3342012114364996vmin currentColor;
      }
  
      &:nth-child(6) {
        color: #1a2e1c;
        top: 67%;
        left: 57%;
        animation-duration: 11s;
        animation-delay: -25s;
        transform-origin: 0vw -13vh;
        box-shadow: -14vmin 0 2.11149228785438vmin currentColor;
      }
  
      &:nth-child(7) {
        color: #0d210d;
        top: 87%;
        left: 1%;
        animation-duration: 7s;
        animation-delay: -44s;
        transform-origin: -13vw 2vh;
        box-shadow: 14vmin 0 1.9481843173486126vmin currentColor;
      }
  
      &:nth-child(8) {
        color: #0d210d;
        top: 59%;
        left: 6%;
        animation-duration: 21s;
        animation-delay: -43s;
        transform-origin: -24vw -23vh;
        box-shadow: 14vmin 0 2.608381965290632vmin currentColor;
      }
  
      &:nth-child(9) {
        color: #1a2e1c;
        top: 12%;
        left: 49%;
        animation-duration: 45s;
        animation-delay: -37s;
        transform-origin: -14vw -17vh;
        box-shadow: 14vmin 0 2.463007884453175vmin currentColor;
      }
  
      &:nth-child(10) {
        color: #031704;
        top: 21%;
        left: 88%;
        animation-duration: 12s;
        animation-delay: -15s;
        transform-origin: -15vw 18vh;
        box-shadow: -14vmin 0 1.914170727068089vmin currentColor;
      }
  
      &:nth-child(11) {
        color: #031704;
        top: 20%;
        left: 24%;
        animation-duration: 8s;
        animation-delay: -7s;
        transform-origin: 9vw 9vh;
        box-shadow: -14vmin 0 2.4163497286040787vmin currentColor;
      }
  
      &:nth-child(12) {
        color: #1a2e1c;
        top: 47%;
        left: 28%;
        animation-duration: 29s;
        animation-delay: -33s;
        transform-origin: -21vw -15vh;
        box-shadow: -14vmin 0 2.3454681202947842vmin currentColor;
      }
  
      &:nth-child(13) {
        color: #1a2e1c;
        top: 55%;
        left: 52%;
        animation-duration: 50s;
        animation-delay: -15s;
        transform-origin: 8vw -3vh;
        box-shadow: -14vmin 0 2.342392832304655vmin currentColor;
      }
  
      &:nth-child(14) {
        color: #031704;
        top: 16%;
        left: 52%;
        animation-duration: 35s;
        animation-delay: -48s;
        transform-origin: 9vw -5vh;
        box-shadow: 14vmin 0 2.2443343064390007vmin currentColor;
      }
  
      &:nth-child(15) {
        color: #031704;
        top: 72%;
        left: 28%;
        animation-duration: 55s;
        animation-delay: -20s;
        transform-origin: 15vw 17vh;
        box-shadow: 14vmin 0 2.280055000834209vmin currentColor;
      }
  
      &:nth-child(16) {
        color: #031704;
        top: 52%;
        left: 63%;
        animation-duration: 35s;
        animation-delay: -28s;
        transform-origin: -24vw 8vh;
        box-shadow: -14vmin 0 2.339603804826023vmin currentColor;
      }
  
      &:nth-child(17) {
        color: #1a2e1c;
        top: 82%;
        left: 24%;
        animation-duration: 28s;
        animation-delay: -48s;
        transform-origin: -22vw -6vh;
        box-shadow: -14vmin 0 2.2386820419049007vmin currentColor;
      }
  
      &:nth-child(18) {
        color: #1a2e1c;
        top: 60%;
        left: 70%;
        animation-duration: 18s;
        animation-delay: -49s;
        transform-origin: -3vw -23vh;
        box-shadow: 14vmin 0 2.2744884391295783vmin currentColor;
      }
  
      &:nth-child(19) {
        color: #1a2e1c;
        top: 27%;
        left: 70%;
        animation-duration: 23s;
        animation-delay: -35s;
        transform-origin: -22vw 19vh;
        box-shadow: -14vmin 0 2.462572145850425vmin currentColor;
      }
  
      &:nth-child(20) {
        color: #1a2e1c;
        top: 13%;
        left: 36%;
        animation-duration: 12s;
        animation-delay: -2s;
        transform-origin: 6vw -11vh;
        box-shadow: 14vmin 0 2.2915010838748646vmin currentColor;
      }
  
      &:nth-child(21) {
        color: #0d210d;
        top: 79%;
        left: 7%;
        animation-duration: 17s;
        animation-delay: -16s;
        transform-origin: 15vw -8vh;
        box-shadow: 14vmin 0 1.7533406752441119vmin currentColor;
      }
  
      &:nth-child(22) {
        color: #031704;
        top: 35%;
        left: 47%;
        animation-duration: 27s;
        animation-delay: -29s;
        transform-origin: -20vw 21vh;
        box-shadow: 14vmin 0 1.9140517530322176vmin currentColor;
      }
  
      &:nth-child(23) {
        color: #0d210d;
        top: 82%;
        left: 11%;
        animation-duration: 51s;
        animation-delay: -15s;
        transform-origin: 16vw 18vh;
        box-shadow: 14vmin 0 2.14300709244471vmin currentColor;
      }
  
      &:nth-child(24) {
        color: #031704;
        top: 61%;
        left: 8%;
        animation-duration: 46s;
        animation-delay: -37s;
        transform-origin: 16vw -8vh;
        box-shadow: -14vmin 0 2.7317288507697137vmin currentColor;
      }
  
      &:nth-child(25) {
        color: #0d210d;
        top: 34%;
        left: 100%;
        animation-duration: 10s;
        animation-delay: -35s;
        transform-origin: 12vw 6vh;
        box-shadow: 14vmin 0 2.4497620560415347vmin currentColor;
      }
  
      &:nth-child(26) {
        color: #031704;
        top: 78%;
        left: 63%;
        animation-duration: 9s;
        animation-delay: -16s;
        transform-origin: 16vw -10vh;
        box-shadow: 14vmin 0 2.3735491079173627vmin currentColor;
      }
  
      &:nth-child(27) {
        color: #031704;
        top: 34%;
        left: 11%;
        animation-duration: 41s;
        animation-delay: -29s;
        transform-origin: 23vw -19vh;
        box-shadow: 14vmin 0 2.5288872939153824vmin currentColor;
      }
  
      &:nth-child(28) {
        color: #031704;
        top: 97%;
        left: 41%;
        animation-duration: 12s;
        animation-delay: -10s;
        transform-origin: 4vw -5vh;
        box-shadow: 14vmin 0 2.3672342807517963vmin currentColor;
      }
  
      &:nth-child(29) {
        color: #1a2e1c;
        top: 80%;
        left: 84%;
        animation-duration: 20s;
        animation-delay: -48s;
        transform-origin: -21vw 21vh;
        box-shadow: -14vmin 0 2.6403110141548396vmin currentColor;
      }
  
      &:nth-child(30) {
        color: #0d210d;
        top: 36%;
        left: 2%;
        animation-duration: 33s;
        animation-delay: -12s;
        transform-origin: 4vw -12vh;
        box-shadow: -14vmin 0 2.423570037941648vmin currentColor;
      }
  
      &:nth-child(31) {
        color: #1a2e1c;
        top: 16%;
        left: 7%;
        animation-duration: 39s;
        animation-delay: -6s;
        transform-origin: 17vw -14vh;
        box-shadow: 14vmin 0 1.760880849706235vmin currentColor;
      }
  
      &:nth-child(32) {
        color: #1a2e1c;
        top: 81%;
        left: 22%;
        animation-duration: 18s;
        animation-delay: -41s;
        transform-origin: -6vw -13vh;
        box-shadow: -14vmin 0 1.9561939728767384vmin currentColor;
      }
  
      &:nth-child(33) {
        color: #031704;
        top: 1%;
        left: 11%;
        animation-duration: 41s;
        animation-delay: -46s;
        transform-origin: -13vw 0vh;
        box-shadow: 14vmin 0 2.3877370231826047vmin currentColor;
      }
  
      &:nth-child(34) {
        color: #0d210d;
        top: 82%;
        left: 5%;
        animation-duration: 36s;
        animation-delay: -2s;
        transform-origin: 17vw -7vh;
        box-shadow: 14vmin 0 2.4493694587567925vmin currentColor;
      }
  
      &:nth-child(35) {
        color: #0d210d;
        top: 10%;
        left: 24%;
        animation-duration: 32s;
        animation-delay: -11s;
        transform-origin: 21vw -7vh;
        box-shadow: 14vmin 0 1.7669534340878372vmin currentColor;
      }
  
      &:nth-child(36) {
        color: #1a2e1c;
        top: 63%;
        left: 93%;
        animation-duration: 32s;
        animation-delay: -8s;
        transform-origin: -1vw -14vh;
        box-shadow: 14vmin 0 1.97332661847737vmin currentColor;
      }
  
      &:nth-child(37) {
        color: #031704;
        top: 5%;
        left: 16%;
        animation-duration: 54s;
        animation-delay: -42s;
        transform-origin: -17vw -24vh;
        box-shadow: 14vmin 0 2.692400555297537vmin currentColor;
      }
  
      &:nth-child(38) {
        color: #0d210d;
        top: 52%;
        left: 56%;
        animation-duration: 24s;
        animation-delay: -17s;
        transform-origin: 3vw 5vh;
        box-shadow: -14vmin 0 2.61550411941696vmin currentColor;
      }
  
      &:nth-child(39) {
        color: #1a2e1c;
        top: 90%;
        left: 79%;
        animation-duration: 28s;
        animation-delay: -31s;
        transform-origin: 7vw -23vh;
        box-shadow: -14vmin 0 1.918419189334983vmin currentColor;
      }
  
      &:nth-child(40) {
        color: #031704;
        top: 54%;
        left: 96%;
        animation-duration: 22s;
        animation-delay: -3s;
        transform-origin: 15vw -12vh;
        box-shadow: 14vmin 0 1.822525844163269vmin currentColor;
      }
  
      &:nth-child(41) {
        color: #0d210d;
        top: 20%;
        left: 80%;
        animation-duration: 11s;
        animation-delay: -26s;
        transform-origin: -11vw -3vh;
        box-shadow: -14vmin 0 2.5538496852971413vmin currentColor;
      }
  
      &:nth-child(42) {
        color: #031704;
        top: 51%;
        left: 8%;
        animation-duration: 51s;
        animation-delay: -41s;
        transform-origin: -1vw 16vh;
        box-shadow: -14vmin 0 2.52610868132931vmin currentColor;
      }
  
      &:nth-child(43) {
        color: #1a2e1c;
        top: 85%;
        left: 89%;
        animation-duration: 8s;
        animation-delay: -12s;
        transform-origin: -7vw -13vh;
        box-shadow: 14vmin 0 1.8224947977632526vmin currentColor;
      }
  
      &:nth-child(44) {
        color: #1a2e1c;
        top: 38%;
        left: 94%;
        animation-duration: 51s;
        animation-delay: -5s;
        transform-origin: 7vw -20vh;
        box-shadow: -14vmin 0 1.936870886008555vmin currentColor;
      }
  
      &:nth-child(45) {
        color: #0d210d;
        top: 36%;
        left: 82%;
        animation-duration: 26s;
        animation-delay: -13s;
        transform-origin: 10vw -3vh;
        box-shadow: 14vmin 0 1.844845625741574vmin currentColor;
      }
  
      &:nth-child(46) {
        color: #0d210d;
        top: 35%;
        left: 66%;
        animation-duration: 41s;
        animation-delay: -25s;
        transform-origin: 2vw -6vh;
        box-shadow: -14vmin 0 2.234686690700086vmin currentColor;
      }
    }
  }