
$color-eproyect: #24C44C;

$sombra-texto: 2px 2px black;

$color-dark: #000;

$color-light: #fff;

$bg-size-end: 4.2;

$dur: .3s;

$bg-cajablanca: rgba(245, 222, 179, 0.37);

$bg-cajanegra: rgba(0, 0, 0, 0.75);
